<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home</h1>
<p>Total Book: {{ num_book }}</p>
<p>Available: {{ num_instances_a }}</p>
<p>On Loan: {{ num_instances_o }}</p>
<p>Reserved: {{ num_instances_r }}</p>
<p>Maintenance: {{ num_instances_m }}</p>

{#?next={{ request.path }} bring you back to current url path#}

{% if user.is_authenticated %}
    <p>Welcome {{ user.get_username }}</p>
    <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
{% else %}
    <p>You Are Not Login</p>
    <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
{% endif %}
</body>
</html>